@import 'Pages.scss';

.blogCard {
  img {
    height: auto;
    width: 90%;
    border-radius: 7%;
  }
  padding: 5px;
  width: 30%;
}
@media (max-width: 985px) {
  .blogCard {
    img {
      height: auto;
      width: 90%;
      border-radius: 7%;
    }
    padding: 5px;
    width: 100%;
  }
}

body {
  height: 100%;
}

.navBar {
  span {
    color: darkgreen;
    font-weight: 400;
  }
  a {
    color: rgba(0, 128, 0, 0.675);
  }
}

.footer {
  background-color: rgb(199, 237, 199);
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  align-items: center;

  h3 {
    margin-top: 15px;
  }
  & .github {
    a {
      text-decoration: none;
      color: grey;
    }
  }
}
