body {
	height: 100%;
}

.blogCard {
	img {
		height: auto;
		width: 90%;
		border-radius: 7%;
	}
	padding: 5px;
	width: 33%;
}

.adminBlogCard {
	width: 30%;
	img {
		height: auto;
		width: 100%;
	}
}

.homeHeader {
	background-color: rgb(199, 237, 199);
	padding-top: 30px;
	padding-bottom: 20px;
	img {
		width: 10%;
	}
}

.navBar {
	span {
		color: darkgreen;
		font-weight: 400;
	}
	a {
		color: rgba(0, 128, 0, 0.675);
	}
}

.postPage {
	background-color: rgb(199, 237, 199);
}
